.card {
	width: 324px;
	margin: auto;
	border: 2px solid grey;
	padding: 10px;
}

.fact {
	font-style: italic;
}

.info {
	width:300px;
	border: 2px solid grey;
	padding: 10px;
	margin-top: 10px;
}

.info-list {
	list-style-type: none;
	padding: 0;
}

span {
	font-weight: bold;
}

.animal-pic {
	display: block;
	margin: auto;
	width: 300px;
}